/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */
body {
  font-family: 'Roboto', Arial, sans-serif;
}
#container {
  width: 980px;
  margin: 50px auto;
}
#nav_bar {
  height: 40px;
  color: white;
  background-color: black;
}
#search {
  float: right;
  margin: 10px 200px 0 0;
}
#user_heading {
  float: left;
  margin: 10px 0 0 200px;
}
div.clear {
  clear: both;
}
#header {
  margin-bottom: 30px;
}
#header ul {
  float: left;
}
#header ul li{
  list-style-image: none;
  display: inline;
  margin-right: 10px;
}
.button {
  font-size: 1.5em;
  color: white;
  padding: 5px 15px;
  background-color: rgb(119, 119, 119);
}
#ask_question {
  float: right;
}
a {
  text-decoration: none;
}

.button a:visited, a:link {
  color: white;
}
.button:hover {
  background-color: rgb(235, 135, 0);
}